<nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="/">
            <i class="bi bi-pie-chart-fill logo-icon"></i>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto gap-4 align-items-center">
                <li class="nav-item"><a class="nav-link text-primary active" href="/">Trang chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="/phong">Phòng</a></li>
                <li class="nav-item"><a class="nav-link" href="/lienhe">Liên Hệ</a></li>

                {% if current_user.is_authenticated %}
                <a href="/" style="text-decoration: none;">
                    <div class="d-flex align-items-center gap-3 ms-3">
                        <div class="user-profile-badge d-flex align-items-center">
                            <span class="me-2 fw-medium text-secondary">{{ current_user.username }}</span>
                            <img src="{{ current_user.avatar }}" alt="avatar" class="rounded-circle border" width="35"
                                 height="35" style="object-fit: cover;">
                        </div>
                        <a href="/dangxuat" class="btn btn-outline-primary px-3 fw-medium bg-white">Đăng xuất</a>
                    </div>
                </a>

                {% else %}
                <div class="d-flex gap-2 ms-3">
                    <a href="/dangnhap" class="btn btn-primary px-3 fw-medium">Đăng nhập</a>
                    <a href="/dangky">
                        <button class="btn btn-light border-primary text-primary px-3 fw-medium bg-white btn-custom-hover-DangKy">
                            Đăng ký
                        </button>
                    </a>

                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>