{%extends 'layout/base.html'%}
{%block title%}Đăng ký{%endblock%}

{% block content %}
<main class="flex-grow-1 py-5 d-flex align-items-center justify-content-center">
    <div class="container" style="max-width: 1200px;">

        <div class="main-content-card shadow-sm">
            <div class="row h-100 g-0"> <div class="col-lg-5 d-flex flex-column gap-3 p-4 border-end-custom">
                    <div class="info-box-header text-center py-3">
                        <h2 class="m-0 fw-bold">Phòng {{phong.ten}}</h2>
                    </div>

                    <div class="info-box-content flex-grow-1 d-flex flex-column p-3">
                        <div class="room-image-placeholder w-100 mb-3 flex-shrink-0">
                            <img src="{{ phong.img }}" alt="Ảnh phòng {{ phong.ten }}">
                        </div>

                        <div class="scrollable-text flex-grow-1">
                            <h5 class="fw-bold mb-2 text-center">Mô tả</h5>
                            <p class="mb-0 px-2 text-start">
                                {{phong.mota}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 d-flex flex-column gap-3 p-4">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="info-box-header text-center py-3 h-100 d-flex align-items-center justify-content-center">
                                <h5 class="m-0 fw-bold">Diện Tích: {{phong.dientich}}m<sup>2</sup></h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box-header text-center py-3 h-100 d-flex align-items-center justify-content-center">
                                <h5 class="m-0 fw-bold">Người ở hiện tại: {{so_nguoi_thue}}/{{phong.songuoitoida}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="info-box-content flex-grow-1 p-4 d-flex flex-column">
                        <h3 class="text-center fw-bold mb-4">Dịch Vụ</h3>
                        <div class="scrollable-text flex-grow-1">
                            <ul class="list-unstyled fs-5 text-start ps-3">
                                {%for d in dichvu%}
                                <li class="mb-3">- {{d.chitietphi.loaiphi.ten}}: {{"{:,.0f}".format(d.chitietphi.sotienthu)}}đ/{{d.chitietphi.donvi}}</li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>
{% endblock %}
