{% extends 'layout/base.html' %}

{% block content %}
<main class="flex-grow-1 py-5 d-flex align-items-center justify-content-center">
    <div class="container" style="max-width: 1200px;">

        <div class="main-content-card shadow-sm p-5 scrollable-main-content">

            <div class="row row-cols-1 row-cols-md-2 g-5">
                {% for hd in ds_hop_dong %}
                <div class="col">
                    <div class="contract-item-card shadow-sm p-4 h-100">
                        <p class="fw-bold fs-5 mb-3">Phòng thuê: {{hd.canho.ten}}</p>
                        <p class="mb-2">Ngày bắt đầu hạn thuê: {{hd.ngaybatdau.strftime('%d/%m/%Y')}}</p>
                        <p class="mb-2">Ngày kết thúc hạn thuê: {{hd.ngayketthuc.strftime('%d/%m/%Y')}}</p>
                        <p class="mb-4">Tiền cọc đã trả: {{"{:,.0f}".format(hd.tiencoc)}} vnđ</p>
                        <div class="text-end">
                            <a class="btn btn-primary px-4 fw-bold rounded-3" href="/chitietphong/{{hd.id_canho}}">Xem Phòng Thuê</a>

                        </div>
                    </div>
                </div>
                {%endfor%}


                </div>


            </div>

        </div>
    </div>
</main>
{% endblock %}