
{%extends 'layout/base.html'%}

{%block content%}


<section class="hero-section container">
    <div class="divider-heading">
        <h2>Căn Hộ Hoàng Kim</h2>
    </div>

    <h1 class="display-4 hero-title mt-2">
        Hệ Thống Căn Hộ Tiện Lợi<br>
        Được Đánh Giá Cao Đạt<br>
        Tiêu Chuẩn Quốc Tế
    </h1>

    <div class="d-flex flex-column gap-3">
        <button class="btn btn-primary hero-btn">Sign in</button>
        <button class="btn btn-light border-primary text-primary hero-btn btn-custom-hover">Sign up</button>
    </div>
</section>
{%endblock%}


